$bg-main: #353638;
$color-strong: #f5ba38;
// $color-strong: #84ff94;
$color-sub: #b3b3b3b9;
$color-strong-sub:   #c5c5c5;
$zaje-color: #d1d0c5;

@media screen and (max-width: 1200px) and (min-width: 1025px){
    html{
        font-size: 14px;
    }
}

